<html>
    <head>
        <title>Server Error</title>
        <link rel="stylesheet" href="{% static 'css/500.css' %}" />
        <link rel="stylesheet" href="{% static 'css/home.css' %}" />
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
         </head>
    <body>
        <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <img src="{% static 'img/logonav.png' %}" style="width: 65%;">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a class="page-scroll" href="#feedback">Feedback</a>
                    </li>
                    {% else %}
                    <li>
                        <a class="page-scroll" href="#get_started">Get Started</a>
                    </li>
                    {% endif %}
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Source Code</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    
                    {% if user.is_authenticated %}

                    <li>
                        <a class="page-scroll" href="/">{{request.user}}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'View_all' %}">Your Portfolios</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'auth_logout' %}?next=/">Logout</a>
                    </li>

                    {% else %}
                    
                    <li>
                        <a class="page-scroll" href="{% url 'auth_login' %}">Login</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'registration_register' %}">Signup</a>
                    </li>

                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
        <div>
            <ul>
                <li><h1>500</h1></li>
                <li><h2>Internal Server Error</h2></li>
            </ul>
        </div>
        </body>
</html>