<html>
    <head>
        <title>Server Error</title>
        <link rel="stylesheet" href="{% static 'css/500.css' %}" />
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
         </head>
    <body>
        <div>
            <ul>
                <li><h1>500</h1></li>
                <li><h2>Internal Server Error</h2></li>
            </ul>
        </div>
        </body>
</html>