<html>
<head>
<title>The page you were looking for doesn't exist (404)</title>
<link href="{% static 'css/css-404.css' %}" rel="stylesheet" type="text/css"/>
<style type="text/css">
	body{
background-image:url('preloader.gif');
background-position: center;
background-size: cover;
}

.head{
text-align: center;
margin-top: 100px;
color: white;

}
.data{
    color: white;
    text-align: center;
}
.last{
    color: white;
    text-align: center;
    margin-top: 325px;
}
</style>
</head>
<body>
  <div class="head">
  <h1 >404 PAGE NOT FOUND</h1>
  
  <p>The page you were looking for doesn't exist.</p>

  
  <p>You may have mistyped the address or the page may have moved.</p>
  </div>
      <p class="last">If you are the application owner check the logs for more information.</p>

</body>
</html>