{% extends 'portfolio/base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block title %}Portfolio-Enter Details{% endblock %}
{% block extend_head %}
<!-- CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="{% static 'css/form.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}
{% block content %}
<style type="text/css">
  body{
    background: url({% static 'img/home3.png' %});
  }
</style>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m6 offset-m3">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">description</i></h2>

  
        
          {{form.errors}}
          <div class="row">
            <div class="col s12 m12">
              <div class="card white z-depth-5" style="padding-left: 2em;padding-right: 2em; height: 0;">
                <div class="card-content black-text">


                  <div class="row">

                    <!-- form -->
                    <form class="col s12" id="msform" method="POST">
                      {% csrf_token %}
                      <!-- Personal Details -->
                      <fieldset style="border: none;">
                        <h2 class="center fs-title" >Personal Details</h2>
                        <h3 class="center fs-subtitle">Tell us about yourself</h3>
                        <h4 class="center fs-subtitle">Step 1/6</h4>
                        <div class="row">
                          <div class="input-field col s12 ">
                            {% render_field form.first_name class="validate" data-length="50" %}
                            <label for="first_name" data-wrong="wrong" data-success="OK">First Name</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            {% render_field form.last_name class="validate" data-length="50" %}
                            <label for="last_name">Last Name</label>
                          </div>
                        </div>

                        <div class="row">
                          <div class="input-field col s12">
                            {% render_field form.date_of_birth class="validate" data-length="10" %}
                            <label for="password" data-wrong="wrong" data-success="OK">Date of Birth</label>
                          </div>
                        </div>
                            <a class="next action-button waves-effect waves-light btn" style="left: 40%;">Next</a>
                            

                          </fieldset>
                          <!-- Contact Details -->
                          <fieldset style="border: none;">
                            <h2 class="center fs-title" >Contact Details</h2>
                            <h3 class="center fs-subtitle">How to get in touch with you?</h3>
                            <h4 class="center fs-subtitle">Step 2/6</h4>
                            <div class="row">
                              <div class="input-field col s12 ">
                                {% render_field form.email_address class="validate" type="email" %}
                                <label for="email" data-wrong="wrong" data-success="OK">Email</label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="input-field col s12">
                                {% render_field form.phone_number class="validate" data-length="10" %}
                                <label for="Phone number" data-wrong="wrong" data-success="OK">Phone Number</label>
                              </div>
                            </div>
                            <a class="previous action-button waves-effect waves-light btn" style="left: 36%;">Previous</a>
                            <a class="next action-button waves-effect waves-light btn" style="left: 36%;">Next</a>




                          </fieldset>
                          <!-- BIO -->
                          <fieldset style="border: none;">
                            <h2 class="center fs-title" >Your Bio</h2>
                            <h3 class="center fs-subtitle">Time to know about you</h3>
                            <h4 class="center fs-subtitle">Step 3/6</h4>
                            <div class="row">
                              <div class="input-field col s12 ">
                                {% render_field form.small_bio class="validate" %}
                                <label for="smbio">Small Bio</label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="input-field col s12">
                              {% render_field form.main_bio class="validate materialize-textarea" data-length="600" %}

                                <label for="textarea1">Textarea</label>
                              </div>
                            </div>

                            <a class="previous action-button waves-effect waves-light btn" style="left: 36%;">Previous</a>
                            <a class="next action-button waves-effect waves-light btn" style="left: 36%;">Next</a>
                          </fieldset>
                          <fieldset style="border: none;">
                            <h2 class="center fs-title" >Skills</h2>
                            <h3 class="center fs-subtitle">Your area of expertise</h3>
                            <h4 class="center fs-subtitle">Step 4/6</h4>
                            <div class="row">
                              <div class="input-field col s12 ">
                                {% render_field form.skill1 class="validate" %}
                                <label for="skill">Skill1</label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="input-field col s12 ">
                                {% render_field form.skill2 class="validate" %}
                                <label for="skill">Skill2</label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="input-field col s12 ">
                                {% render_field form.skill3 class="validate" %}
                                <label for="skill">Skill3</label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="input-field col s12 ">
                                {% render_field form.skill4 class="validate" %}
                                <label for="skill">Skill4</label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="input-field col s12 ">
                                {% render_field form.skill5 class="validate" %}
                                <label for="skill">Skill5</label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="input-field col s12 ">
                                {% render_field form.skill6 class="validate" %}
                                <label for="skill">Skill6</label>
                              </div>
                            </div>

                            

                            <a class="previous action-button waves-effect waves-light btn" style="left: 36%;">Previous</a>
                            <a class="next action-button waves-effect waves-light btn" style="left: 36%;">Next</a>
                            

                          </fieldset>
                          <fieldset style="border: none;">
                            <h2 class="center fs-title" >Social Accounts</h2>
                            <h3 class="center fs-subtitle">Your presence in the social world</h3>
                            <h4 class="center fs-subtitle">Step 5/6</h4>
                            <div class="row">
                              <div class="input-field col s12 ">
                                {% render_field form.facebook class="validate" %} 
                                <label for="skill">Facebook Username</label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="input-field col s12 ">
                                {% render_field form.github class="validate" %}
                                <label for="skill">Github Username</label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="input-field col s12 ">
                                {% render_field form.twitter class="validate" %}
                                <label for="skill">Twitter Username</label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="input-field col s12 ">
                                {% render_field form.linkedin class="validate" %}
                                <label for="skill">Linkedin Username</label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="input-field col s12 ">
                                {% render_field form.blog class="validate" %}
                                <label for="skill">Blog Link</label>
                              </div>
                            </div>

                            

                            <a class="previous action-button waves-effect waves-light btn" style="left: 36%;">Previous</a>

                            <a class="next action-button waves-effect waves-light btn" style="left: 36%;">Next</a>
                          

                          </fieldset>
                          <fieldset style="border: none;">
                            <h2 class="center fs-title" >Projects</h2>
                            <h3 class="center fs-subtitle">Your projects are ready to change the world</h3>
                            <h4 class="center fs-subtitle">Step 6/6</h4>
                            <div class="row">
                              <div class="input-field col s12 ">
                                {% render_field form.project1_name class="validate" %}
                                <label for="skill">Project 1 Name</label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="input-field col s12 ">
                                {% render_field form.project1_url class="validate" %}
                                <label for="skill">GitHub Link for Project</label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="input-field col s12 ">
                                {% render_field form.project1_description class="validate" %}
                                <label for="skill">A small description about the project 1</label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="input-field col s12 ">
                                {% render_field form.project2_name class="validate" %}
                                <label for="skill">Project 2 Name</label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="input-field col s12 ">
                                {% render_field form.project2_url class="validate" %}
                                <label for="skill">GitHub Link for Project</label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="input-field col s12 ">
                                {% render_field form.project2_description class="validate" %}
                                <label for="skill">A small description about the project 2</label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="input-field col s12 ">
                                {% render_field form.project3_name class="validate" %}
                                <label for="skill">Project 3 Name</label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="input-field col s12 ">
                                {% render_field form.project3_url class="validate" %}
                                <label for="skill">GitHub Link for Project</label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="input-field col s12 ">
                                {% render_field form.project3_description class="validate" %}
                                <label for="skill">A small description about the project 3</label>
                              </div>
                            </div>

                            

                            <a class="previous action-button waves-effect waves-light btn" style="left: 36%;">Previous</a>
                            <button class="btn waves-effect waves-light" type="submit" name="action" style="left: 36%;"><i class="material-icons right">send</i>Submit
                              
                            </button>
                            

                          </fieldset>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br><br>
      </div>
    </div>




    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/form.js' %}"></script>
    <script type="text/javascript">
      $('.button-collapse').sideNav();
    </script>
{% endblock %}