{% extends 'portfolio/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}HoxNox-Home{% endblock %}
{% block extend_head %}


<link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="{% static 'css/home.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/socialicons.css' %}">
{% endblock %}
{%block content %}
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div class="hameid-loader-overlay" style="width: 100%;
    height: 100%;
    background: url({% static 'img/preloader.gif' %}) center no-repeat #FFF;
    background-color: #E93978;
    z-index: 99999;
    position: fixed;"></div>
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <img src="{% static 'img/logonav.png' %}" style="width: 65%;">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a class="page-scroll" href="#feedback">Feedback</a>
                    </li>
                    {% else %}
                    <li>
                        <a class="page-scroll" href="#get_started">Get Started</a>
                    </li>
                    {% endif %}
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Source Code</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    
                    {% if user.is_authenticated %}

                    <li>
                        <a class="page-scroll" href="/">{{request.user}}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'View_all' %}">Your Portfolios</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'auth_logout' %}?next=/">Logout</a>
                    </li>

                    {% else %}
                    
                    <li>
                        <a class="page-scroll" href="{% url 'auth_login' %}">Login</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'registration_register' %}">Signup</a>
                    </li>

                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <img src="{% static 'img/hoxnoxlogowhite.png' %}" class="img-responsive" style="margin-top: -4%;margin-left: 40%; width: 20%;"><br>

                    <div class="col-md-8 col-md-offset-2">
                        {% if user.is_authenticated %}
                        <p class="intro-text">Welcome {{request.user}}, start by entering your details.
                            <br></p>
                            <a href="{% url 'Portfolio_detail' %}"><button class="btn btn-danger btn-lg">Create Portfolio</button></a><br><br>
                            <a href="{% url 'View_all' %}"><button class="btn btn-danger btn-lg" style="width: 12em;">View Portfolios</button></a>
                            {% else %}
                            <p class="intro-text">A free, simple to use, quick portfolio generator.
                                <br></p>
                                <p class="intro-text">Get Started Now<br>
                                    <a href="#get_started" class="btn btn-circle page-scroll">
                                        <i class="fa fa-angle-double-down animated"></i>
                                    </a></p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                {% if not user.is_authenticated %}
                <!-- get started section-->
                <div id="setbg">
                    <section id="get_started" class="container content-section text-center">
                        <div class="row" >
                            <h1>To get started</h1>
                            <div class="col-lg-4 ">
                                <h2>Already an User</h2>
                                <a href="{% url 'auth_login' %}" class="btn btn-default btn-lg" style="width: 10em;"><i class="fa fa-sign-in fa-fw"></i> <span class="network-name">Login</span></a>
                            </div>
                            <div class="col-lg-4 ">
                                <br><br>
                                <h2>OR</h2>
                            </div>    
                            <div class="col-lg-4 ">
                                <h2>New to hoxNox</h2>
                                <a href="{% url 'registration_register' %}" class="btn btn-default btn-lg" style="width: 10em;"><i class="fa fa-pencil-square-o fa-fw"></i> <span class="network-name">Signup</span></a>
                            </div>
                        </div><br><br><br><br>
                        <div class="row">
                            <h1>Login or signup via:</h1>
                            
                            <div class="col-lg-4"><a href="{% url 'social:begin' 'facebook' %}" class="btn btn-facebook btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">facebook Login or signup</span></a></div>
                            <div class="col-lg-4 ">
                                <h2>OR</h2>
                            </div>
                            <div class="col-lg-4"><a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-google btn-lg"><i class="fa fa-google fa-fw"></i> <span class="network-name">google Login or signup</span></a></div>
                        </div>
                    </section>
                    {% endif %}
                    <!-- About Section -->
                    <section id="about" class="container content-section text-center">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <h2>About HoxNox</h2>
                                <p style="text-align: justify;">HoxNox is a simple portfolio generator created by <a href="http://anupamdagar.me/">Anupam Dagar</a>. Just enter the required details and get your portfolio generated.The project is open source and pull requests are welcome. <a href="https://github.com/Anupam-dagar/Portfolio-Generator">View Source</a></p>
                                <p style="text-align: justify;">HoxNox features minimal and flat design. All it takes is just 5 minutes to get your portfolio ready.</p>
                                <p style="text-align: justify;">It's reproducible which means the generated portfolio link can be shared on various platforms such as Facebook, LinkedIn, Twitter or anywhere else.</p>
                                    <p style="text-align: justify;">HoxNox includes full HTML, CSS, and custom JavaScript files for easy customization and Python's Django Framework as its backend for fast and secure experience.</p>
                                </div>
                            </div>
                        </section>

                        <!-- Source Code Section -->
                        <section id="download" class="content-section text-center">
                        </div>
                        <div class="download-section">
                            <div class="container">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <h2>Want to know how it's made?</h2>
                                    <p>Check out the source at</p>
                                    <a href="https://github.com/Anupam-dagar/Portfolio-Generator" class="btn btn-default btn-lg">View Source at GitHub</a>
                                </div>
                            </div>
                        </div>
                    </section>
                    {% if user.is_authenticated %}
                    <!-- feedback section -->
                    <section id="feedback" class="container content-section text-center">
                        <div class="row" style="margin-top: -14%;">
                            <div class="col-lg-10 col-lg-offset-1 ">
                                <h1>Feedback</h1>
                                {% if messages %}
                                <h3><ul class="messages">
                                    {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                    {% endfor %}
                                </ul></h3>
                                {% endif %}
                                <form method="POST">
                                    {% csrf_token %}
                                    {% render_field form.feedback_field class="form-control" rows="8" placeholder="Write you feedback here." style="font-size: 30px;" %}<br>
                                    <button type="submit" class="btn btn-default btn-lg"><i class="fa fa-paper-plane"></i> <span class="network-name">Submit</span></button>
                                </form>
                            </div>
                        </div><br><br>
                        <h2>Spread the word....</h2>
                        <div class="row">
                            <div class="col-lg-12">
                                <a target="blank" href="https://www.facebook.com/sharer.php?t=HoxNox-Home&u=http%3A%2F%2F127.0.0.1%3A8000%2F" class="btn azm-social azm-size-64 azm-circle azm-long-shadow azm-facebook"><i class="fa fa-facebook"></i></a>
                                <a target="blank" href="https://twitter.com/intent/tweet?text=HoxNox-Home&url=http%3A%2F%2F127.0.0.1%3A8000%2F" class="btn azm-social azm-size-64 azm-circle azm-long-shadow azm-twitter"><i class="fa fa-twitter"></i></a>
                                <a target="blank" href="https://www.linkedin.com/shareArticle?title=HoxNox-Home&url=http%3A%2F%2F127.0.0.1%3A8000%2F" class="btn azm-social azm-size-64 azm-circle azm-long-shadow azm-linkedin"><i class="fa fa-linkedin"></i></a>
                                <a target="blank" href="https://plus.google.com/share?url=http%3A%2F%2F127.0.0.1%3A8000%2F" class="btn azm-social azm-size-64 azm-circle azm-long-shadow azm-google-plus"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </section>
                    {% endif %}
                    <!-- Contact Section -->
                    <section id="contact" class="container content-section text-center">
                        <div class="row" style="margin-top: -14%;">
                            <div class="col-lg-9 col-lg-offset-2">
                                <h2>Contact ME</h2>
                                <p>Want to provide some feedback on HoxNox, give suggestions for new features, or just say hello!</p>
                                <p>Email me at <a href="mailto:dagaranupam@gmail.com">dagaranupam@gmail.com</a>
                                </p>
                                <ul class="list-inline banner-social-buttons">
                                    <li>
                                        <a href="https://twitter.com/anupam_dagar" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                                    </li>
                                    <li>
                                        <a href="https://github.com/Anupam-dagar" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                                    </li>
                                    <li>
                                        <a href="https://www,facebook.com/invincible.anupam" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                                    </li>
                                    <li>
                                        <a href="https://www,facebook.com/invincible.anupam" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
                                    </li>
                                    <li>
                                        <a href="http://anupamdagar.me/" class="btn btn-default btn-lg"><i class="fa fa-home fa-fw"></i> <span class="network-name">Website</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>

                    <!-- Footer -->
                    <footer>
                        <div class="container text-center">
                            <p>Created with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="http://anupamdagar.me/">Anupam Dagar</a></p>
                        <div class="container text-right" style="float: right;"><a href="{% url 'privacypolicy' %}">Privacy Policy</a></div>
                        </div>
                    </footer>

                    <!-- jQuery -->
                    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
                    <!-- Bootstrap Core JavaScript -->
                    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                    <!-- Plugin JavaScript -->
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
                    <script>
                        jQuery(window).load(function(){
                            jQuery(".hameid-loader-overlay").fadeOut(500);
                        });
                    </script>
                    <!-- Theme JavaScript -->
                    <script src="{% static 'js/home.js' %}"></script>
                    <script type="text/javascript">
var infolinks_pid = 3019533;
var infolinks_wsid = 0;
</script>
<script type="text/javascript" src="http://resources.infolinks.com/js/infolinks_main.js"></script>
                </body>
                {% endblock %}
