{% extends "portfolio/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}
{% block title %}HoxNox-Login{% endblock %}
{% block extend_head %}
<title>HoxNox-Login</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %}
{% block content %}
<body class="is-loading">
<div id="wrapper">

  <!-- Main -->
  <section id="main">
    <header>
      <h1><B>RESET PASSWORD</B><a href="/"><i class="fa fa-home" style="margin-left: 7em;"></i></a></h1>
    </header>

    <hr />
    <form method="post">
      {% csrf_token %}
      {% if form.errors %}
      <p>Email not registered</p>
      <div class="field">
      {% render_field form.email placeholder="E-mail" %}
        <!-- <input type="text" name="name" id="name" placeholder="Username" /> -->
      </div>
      <ul class="actions">
        <li><button type="submit" name="submit" value="{% trans 'Log in' %}">SUBMIT</button></li>
      </ul>
    </form>
    <hr />
    {% else %}
    <div class="field">
      {% render_field form.email placeholder="E-mail" %}
        <!-- <input type="text" name="name" id="name" placeholder="Username" /> -->
      </div>
      <ul class="actions">
        <li><button type="submit" name="submit" value="{% trans 'Log in' %}">SUBMIT</button></li>
      </ul>
  </form>
  <hr />
  {% endif %}
</section>

<!-- Footer -->
<footer id="footer">
 <ul class="copyright">
  <li>HOXNOX</li><li><a href="/">HOME</a></li>
</ul>
</footer>

</div>
<!-- Scripts -->
<script>
  if ('addEventListener' in window) {
   window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
   document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
 }
</script>

</body>
{% endblock %}