{% extends "portfolio/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}
{% block title %}HoxNox-Login{% endblock %}
{% block extend_head %}
<title>HoxNox-Login</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
<meta http-equiv="refresh" content="2;url=/" />
{% endblock %}
{% block content %}
<body class="is-loading">
<div class="hameid-loader-overlay" style="width: 100%;
    height: 100%;
    background: url({% static 'img/preloader.gif' %}) center no-repeat #FFF;
    background-color: #E93978;
    z-index: 99999;
    position: fixed;"></div>
<div id="wrapper">

  <!-- Main -->
  <section id="main">
    <header>
      <h1><B>RESET PASSWORD</B><a href="/"><i class="fa fa-home" style="margin-left: 12em;"></i></a></h1>
    </header>

    <hr />
    <p>Password Changed Successfully.</p>
    <p>You will be redirected automatically, if not, use the following button.</p>

  <hr />
  <ul class="actions">
        <li><a href="/" class="button">HOME</a></li>
      </ul>
</section>

<!-- Footer -->
<footer id="footer">
 <ul class="copyright">
  <li>HOXNOX</li><li><a href="/">HOME</a></li>
</ul>
</footer>

</div>
<!-- Scripts -->
<script>
  if ('addEventListener' in window) {
   window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
   document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
 }
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
    jQuery(window).load(function(){
        jQuery(".hameid-loader-overlay").fadeOut(500);
    });
</script>
</body>
{% endblock %}